* {
    margin: 0;
}

body {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgb(220, 222, 252);
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
    margin: 2rem auto;
    padding: 1rem 0;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 88, 255);
    border-radius: 1rem;
    width: 1000px;
}

.app {
    display: flex;
    width: 1000px;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 2rem;
    margin-right: 5rem;
    border-radius: 1rem;
    background-color: rgb(51, 88, 255);
    position: relative;
}

.menu-button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    margin: 0.5rem 0;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#colorSelection {
    padding: 0;
    height: 37.5px;
    width: 100%;
    margin: 0.5rem 0;
}

input[type="color"] {
    border: 2px solid white;
    border-radius: 1rem;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;

}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 1rem;
}

input[type="color"]:hover,
.menu-button:hover {
    scale: 1.05;
    transition: 0.3s;
}

input[type="range"] {
    cursor: pointer;
}

.active {
    color: rgb(43, 43, 43);
    background-color: rgb(255, 255, 255);
}

.menu p {
    margin: 0.5rem 0 0.25rem;
    font-size: 1rem;
}

.color-text {
    position: absolute;
    transform: translate(115px, 7px);
}

.container {
    background-color: rgb(51, 88, 255);
    height: 500px;
    width: 500px;
    padding: 2rem;
    border-radius: 1rem;
}

.grid {
    display: flex;
}

.row {
    width: 100%;
}

.row-item {
    background-color: white;
}

.git-link {
    color: rgb(3, 3, 3);
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 30%;
    right: 30%;
}