* {
    margin: 0;
}

body {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4rem;
    margin: 2rem auto;
    padding: 1rem 0;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    border-radius: 1rem;
    width: 50%;
}

.app {
    display: flex;
    width: 1000px;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    padding: 2rem;
    margin-right: 5rem;
    border-radius: 1rem;
    background-color: rgb(43, 43, 43);
    position: relative;
}

.menu button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    margin: 0.5rem 0;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.menu p {
    margin: 0.5rem 0 0.25rem;
    font-size: 1rem;
}

.color-text {
    position: absolute;
    transform: translate(115px, 7px);
}

#colorSelection {
    padding: 0;
    height: 37.5px;
    width: 100%;
    margin: 0.5rem 0;
 
}

input[type="color"] {
    border: 2px solid white;
    border-radius: 1rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;

}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 1rem;
}

.container {
    background-color: rgb(43, 43, 43);
    height: 500px;
    width: 500px;
    padding: 2rem;
    border-radius: 1rem;
}

.grid {
    display: flex;
}

.row {
    width: 100%;
}

.row-item {
    background-color: white;
}